In [59]:
import numpy as np
import pandas as pd

In [60]:
import matplotlib.pyplot as plt
%matplotlib inline

In [61]:
df = pd.read_csv('Social_Network_Ads.csv')

In [62]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [63]:
X = df[['Gender', 'Age', 'EstimatedSalary']]
y = df['Purchased']

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [66]:
X_train.shape

(300, 3)

In [67]:
X_test.shape

(100, 3)

In [68]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [69]:
labelencoder = LabelEncoder()

In [70]:
X_train['Gender'] = labelencoder.fit_transform(X_train['Gender'])

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
X_test['Gender'] = labelencoder.transform(X_test['Gender'])

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
X_train

     Gender  Age  EstimatedSalary
250       0   44            39000
63        1   32           120000
312       0   38            50000
159       0   32           135000
283       0   52            21000
..      ...  ...              ...
323       0   48            30000
192       1   29            43000
117       1   36            52000
47        0   27            54000
172       0   26           118000

[300 rows x 3 columns]

In [73]:
X_train.shape

(300, 3)

In [74]:
onehotencoder = OneHotEncoder(categorical_features = [0])
X_train = onehotencoder.fit_transform(X_train).toarray()

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [75]:
X_train = X_train[:, 1:]

In [76]:
# onehotencoder = OneHotEncoder(categorical_features = [0])
X_test = onehotencoder.transform(X_test).toarray()

In [77]:
X_test = X_test[:, 1:]

In [78]:
from sklearn.preprocessing import StandardScaler

In [79]:
sc_X = StandardScaler()

In [80]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [81]:
from sklearn.linear_model import LogisticRegression

In [82]:
model = LogisticRegression(random_state = 0)

In [83]:
model.fit(X_train, y_train)

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [84]:
y_pred = model.predict(X_test)

In [94]:
y_pred.reshape

In [86]:
y_test

132    0
309    0
341    0
196    0
246    0
      ..
146    1
135    0
390    1
264    1
364    1
Name: Purchased, Length: 100, dtype: int64

In [87]:
from sklearn.metrics import confusion_matrix, classification_report

In [88]:
cm = confusion_matrix(y_test, y_pred)

In [89]:
cm

array([[65,  3],
       [ 6, 26]], dtype=int64)

In [90]:
cr = classification_report(y_test, y_pred)

In [91]:
print(cr)

              precision    recall  f1-score   support

           0       0.92      0.96      0.94        68
           1       0.90      0.81      0.85        32

    accuracy                           0.91       100
   macro avg       0.91      0.88      0.89       100
weighted avg       0.91      0.91      0.91       100

## Visualising the Training Set Results

In [93]:
# from matplotlib.colors import ListedColormap
# X_set, y_set = X_train, y_train
# X1, X2, X3 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),
#                      np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01),
#                      np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))
# plt.contourf(X1, X2, X3, model.predict(np.array([X1.ravel(), X2.ravel(), X3.ravel()]).T).reshape(X1.shape),
#              alpha = 0.75, cmap = ListedColormap(('red', 'green')))
# plt.xlim(X1.min(), X1.max())
# plt.ylim(X2.min(), X2.max())
# for i, j in enumerate(np.unique(y_set)):
#     plt.scatter(X_set[y_set == j, 0], X_set[y_set == j, 1],
#                 c = ListedColormap(('red', 'green'))(i), label = j)
# plt.title('Logistic Regression (Training set)')
# plt.xlabel('Age')
# plt.ylabel('Estimated Salary')
# plt.legend()