In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [4]:
df = pd.read_csv('Social_Network_Ads.csv')

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
X = df.drop(['User ID', 'Purchased'], axis = 1)

In [8]:
y = df['Purchased']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [11]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [12]:
labelencoder = LabelEncoder()

In [13]:
X_train['Gender'] = labelencoder.fit_transform(X_train['Gender'])

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
X_train.head()

     Gender  Age  EstimatedSalary
250       0   44            39000
63        1   32           120000
312       0   38            50000
159       0   32           135000
283       0   52            21000

In [15]:
X_test['Gender'] = labelencoder.transform(X_test['Gender'])

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
X_test.head()

     Gender  Age  EstimatedSalary
132       1   30            87000
309       0   38            50000
341       1   35            75000
196       0   30            79000
246       0   35            50000

In [17]:
onehotencoder = OneHotEncoder(categorical_features = [0])
X_train = onehotencoder.fit_transform(X_train).toarray()

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [18]:
X_train

array([[1.00e+00, 0.00e+00, 4.40e+01, 3.90e+04],
       [0.00e+00, 1.00e+00, 3.20e+01, 1.20e+05],
       [1.00e+00, 0.00e+00, 3.80e+01, 5.00e+04],
       ...,
       [0.00e+00, 1.00e+00, 3.60e+01, 5.20e+04],
       [1.00e+00, 0.00e+00, 2.70e+01, 5.40e+04],
       [1.00e+00, 0.00e+00, 2.60e+01, 1.18e+05]])

In [19]:
X_train = X_train[:, 1:]

In [20]:
X_test = onehotencoder.transform(X_test).toarray()

In [22]:
X_test = X_test[:, 1:]

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
sc = StandardScaler()

In [25]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [26]:
from sklearn.neighbors import KNeighborsClassifier

In [69]:
model = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p =2)

In [70]:
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [71]:
y_pred = model.predict(X_test)

In [72]:
from sklearn.metrics import confusion_matrix, classification_report

In [73]:
cm = confusion_matrix(y_test, y_pred)

In [74]:
print(cm)

[[64  4]
 [ 3 29]]

In [75]:
cr = classification_report(y_test, y_pred)

In [56]:
print(cr)

              precision    recall  f1-score   support

           0       0.96      0.94      0.95        68
           1       0.88      0.91      0.89        32

    accuracy                           0.93       100
   macro avg       0.92      0.92      0.92       100
weighted avg       0.93      0.93      0.93       100