In [77]:
import numpy as np
import pandas as pd

In [78]:
import matplotlib.pyplot as plt
%matplotlib inline

In [79]:
df = pd.read_csv('Social_Network_Ads.csv')

In [80]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [81]:
X = df[['Gender', 'Age', 'EstimatedSalary']]
y = df['Purchased']

In [82]:
from sklearn.model_selection import train_test_split

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [84]:
X_train.shape

(300, 3)

In [85]:
X_test.shape

(100, 3)

In [86]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [87]:
labelencoder = LabelEncoder()

In [88]:
X_train['Gender'] = labelencoder.fit_transform(X_train['Gender'])

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [89]:
X_test['Gender'] = labelencoder.transform(X_test['Gender'])

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
X_train

     Gender  Age  EstimatedSalary
250       0   44            39000
63        1   32           120000
312       0   38            50000
159       0   32           135000
283       0   52            21000
..      ...  ...              ...
323       0   48            30000
192       1   29            43000
117       1   36            52000
47        0   27            54000
172       0   26           118000

[300 rows x 3 columns]

In [91]:
X_train.shape

(300, 3)

In [92]:
onehotencoder = OneHotEncoder(categorical_features = [0])
X_train = onehotencoder.fit_transform(X_train).toarray()

C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\sarthak tyagi\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [93]:
X_train = X_train[:, 1:]

In [94]:
# onehotencoder = OneHotEncoder(categorical_features = [0])
X_test = onehotencoder.transform(X_test).toarray()

In [95]:
X_test = X_test[:, 1:]

In [96]:
from sklearn.preprocessing import StandardScaler

In [97]:
sc_X = StandardScaler()

In [98]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [99]:
from sklearn.naive_bayes import GaussianNB

In [100]:
model = GaussianNB()

In [101]:
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [102]:
y_pred = model.predict(X_test)

In [103]:
from sklearn.metrics import confusion_matrix, classification_report

In [104]:
print(confusion_matrix(y_test, y_pred))

[[66  2]
 [ 7 25]]

In [105]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.90      0.97      0.94        68
           1       0.93      0.78      0.85        32

    accuracy                           0.91       100
   macro avg       0.92      0.88      0.89       100
weighted avg       0.91      0.91      0.91       100